<!DOCTYPE html>
<html lang="en">
<head>
  {{ block "head/meta" . }}{{ partial "head/meta" . }}{{end}}
  {{ block "head/seo" . }}{{ partial "head/seo" . }}{{end}}
  {{ block "head/favicons" . }}{{ partial "head/favicons" . }}{{end}}
  {{ block "head/styles" . }}{{ partial "head/styles" . }}{{end}}
  {{ block "head/scripts" . }}{{ partial "head/scripts" . }}{{end}}
</head>
<body>

  {{ block "header/header" . }}{{ partial "header/header" . }}{{end}}
  {{/* block "header/leftbar" . }}{{ partial "header/leftbar" . }}{{end */}}
  {{/* block "header/rightbar" . }}{{ partial "header/rightbar" . }}{{end */}}
  {{/* block "headeroffcanvas" . }}{{ partial "headeroffcanvas" . }}{{end */}}

  {{/* block "main/example" . }}{{ partial "main/example" . }}{{end */}}
  {{ block "main" . }}{{end}}
  {{/* block "main/example" . }}{{ partial "main/example" . }}{{end */}}

  {{ block "footer/footer" . }}{{ partial "footer/footer" . }}{{end}}
  {{ block "footer/scripts" . }}{{ partial "footer/scripts" . }}{{end}}

</body>
</html>
